*{
    margin: 0;
}
header {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    width: 100%;
    clear:both;
    position: relative;
    height: 90px;
    padding: 5px 0 5px 0;
}

#mainHeader{
    margin: 0 auto;
    min-width: 730px;
    max-width: 900px;
}

#search{
    display: inline-block;
    height: 30px;
    padding: 0;
}
#search input {
    height: 100%;
    border: none;
    background-color: lightgrey;
    padding: 0;
    font-style: italic;
    font-weight: bold;
}

#search input[type="submit"] {
    background-color: grey;
    cursor: pointer;
    background-image: url(../images/search_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    width: 40px;
    padding-top: 10px;
}

#connexion {
    width: 30%;
    min-width: 130px;
    max-width: 170px;
    height: 32px;
    display: inline-block;
}

#connexion:hover #form_connexion{
    display: block;
}

#showConnexionBox {
    background-color: brown;
    display: block;
    padding: 7px 10px 10px 10px;
    width: 100%;
    height: 15px;
    text-align: center;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}

#form_connexion {
    background-color: #D20005;
    width: 100%;
    min-width: 130px;
    max-width: 170px;
    height: 210px;
    padding: 5px 10px 10px 10px;
    float: left;
    display: none;
    z-index: 12;
}

#form_connexion * {
    margin: 5px;
    border: none;
    color: black;
}

#form_connexion label{
    font-size: 1.1em;
    font-weight: bold;
}

#form_connexion input[type="submit"]{
    display: block;
    height: 25px;
    min-width: 100px;
    margin-top: 10px;
    font-size: 1.2em;
}

#form_connexion input[type="submit"]:hover {
    font-style: italic;
}

#form_connexion input[type="submit"]:active {
    background-color: lightblue;
}

#form_connexion a {
    margin-left: 15px;
}

#form_connexion a:hover {
    text-decoration:none;
    color: gray;
}

#language {
    float:right;
    margin: 0 25px 0 0;
}
#language ul li{
    display: inline-block;
    margin-left: 5px;
}

nav {
    background-color: #036fab;
    width: 100%;
    margin: 0 0 10px 0;  
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.2em;
}

nav ul {
    height: 100%;
    padding: 0;
    display: inline-block;
}

nav ul li{
    display: inline-block;
    width: 140px;
    height: 100%;
    border-left: 2px solid black;
}

nav ul li:first-child {
    border-left: none;
}

nav ul li:last-child {
    border-right: 2px solid black;
}

nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

#order {
    //float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    z-index: 20;
}

#content {
   // position: relative;
    background-color: #dddddd;
    padding: 5px;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

footer {
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}