header {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    width: 100%;
}
#connexion {
    float:right;
    width: 170px;
    margin-right: 10px;
}

#showConnexionBox {
    background-color: brown;
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-size: 1.6em;
    text-decoration: none;
}

#form_connexion {
    background-color: blueviolet;
    width: 170px;
    height: 210px;
    padding: 5px 10px 10px 10px;
    float: left;
    display: none;
    z-index: 12;
}

#connexion:hover #form_connexion{
    display: block;
}

footer {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

nav {
    background-color: green;
    margin-bottom: 10px;
}

#order {
    //float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    z-index: 20;
}

#content {
   // position: relative;
    background-color: #dddddd;
    padding: 5px;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


