body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0;
}

header h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  3.2em;
    font-weight: bold;
    margin: 5px auto 0px auto;
    padding: 0px;
    color: white;
}

header h2 {
    margin: 10px 0 0 30px;
    font-size: 1.25em;
    display: inline-block;
}

table {
    border-spacing: 5px;
}
td{
    padding-top: 12px;
    text-align: center;
}

a:link, a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : none;
}
