#content {
    width: 100%;
}

#main {
    width: 60%;
    background-color: white;
    border-radius: 5px;
}

#main h1{
    text-align: center;
    font-size: 2em;
}
#main form{
    width: 95%;
    margin: 20px auto 0 auto;
    font-size: 1.2em;
    font-weight: bold;
}

#formSignUp *, #formConnection *{
    margin-top: 10px;
}

.partSignUp{
    border-top: 1px solid black;
}

.float_left{
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 80%;
    max-width: 200px;
    min-width: 150px;
}

.float_error{
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 80%;
    max-width: 500px;
    min-width: 150px;
}

.float_error span{
    display: block;
}
.after_float{
    clear: both;
}

#formSignUp select, #formConnection select {
    margin-right: 5px;
}

#formSignUp select *, #formConnection select *{
    margin:0;
}

#formSignUp input, #formConnection input{
    min-width: 150px;
    width: 90%;
    padding:4px;
}

#main input, #main select, .calendar .ui-datepicker{
   border: 1px solid rgb(200,200,200)!important; 
   box-shadow: none!important;
   border-radius: 0px!important;
   max-width: 385px;
}

.inputLong {
    max-width: 385px;
}

#div_name_street{
    min-width: 50px;
    max-width: 300px;
    width: 90%;
}

.inputShort{
    max-width: 170px!important; 
}

.inputShorter{
    width: 50px !important;
    min-width: 50px !important;
}

.selectLong{
    width: 90%;
    max-width: 385px!important;
    min-width: 150px;
}

.selectShort{
    width: 90%;
    max-width: 126px;
}

#formSignUp input[type="submit"], #formConnection input[type="submit"]{
    width: 150px;
    height: 25px;
}

.alone{
    margin: 40px 0 40px 20px;
}

#error404{
    margin: 25px auto;
    width: 80%;
    background-color: rgba(220,0,0,0.9);
    border-radius: 5px;
    border: solid 3px rgb(140,0,0);
    font-size: 1.6em;
    padding: 8% 0 8% 20px;
    padding-top:8%;
}

#error404 h2{
    text-align: center;
}

#formCaddy *{
    margin-top: 0;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border: 1px solid #a8a8a8!important;
}

.ui-datatable-footer{
    margin-top: 0px!important;
}

.commandRight{
    float: right;
    text-align: right;
    margin: 5px 5px 0 0;
}

.commandRight p{
    padding: 10px 5px 0 0;
}

.codePromo{
    margin-top:-1px!important;
}

.bntCaddy{
    padding:5px 0;
}

.cornerLeft{
    margin: 10px  0 0 5px!important;
}

.amount{
    display: inline-block;
    width: 80px;
}

.formOrder{
    font-size: 1em!important;
    font-weight: normal!important;
}

.formOrder article{
    min-height: 200px;
    width: 200px;
    vertical-align: top;
    border: solid 2px rgb(72,118,255);
    border-radius: 5px;
    padding: 10px 0 0 10px;
}

.formOrder article p{
    margin-top: 5px;
}

.formOrder input[type="submit"]{
    display: inline-block;
    margin-left: 25px;
}
@media screen and (max-width: 762px) {
    .selectShort {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    #main{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    #main{
        width: 95%;
    }
}